name: Android

on:
  pull_request:
    branches:
      - dev

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        arch: [armeabi-v7a, arm64-v8a]
        ndk: ["r22", "r27"]
        ndk_sdkver: ["21", "30"]

    runs-on: ${{ matrix.os }}

    concurrency:
      group: ${{ github.ref }}-${{ github.base_ref }}-${{ github.head_ref }}-Android-${{ matrix.arch }}-${{ matrix.ndk }}-${{ matrix.ndk_sdkver }}
      cancel-in-progress: true
    steps:
      - name: Cache ndk
        id: cache-ndk
        uses: actions/cache@v4
        with:
          path: ~/.xmake/packages/n/ndk
          key: ${{ matrix.os }}-ndk

      - uses: actions/checkout@v1

      - uses: xmake-io/github-action-setup-xmake@v1
        with:
          xmake-version: branch@master
          actions-cache-folder: ".xmake-cache"
          actions-cache-key: "android"

      - name: Tests
        env:
          ANDROID_NDK_ROOT: ""
          ANDROID_NDK_HOME: ""
        run: |
          if test ${{ matrix.ndk }} = "r27"; then
            xrepo env -y -b "ndk 27" xmake l ./scripts/test.lua -vD -p android -a ${{ matrix.arch }} --ndk_sdkver=${{ matrix.ndk_sdkver }} 
          else
            xrepo env -y -b "ndk 22" xmake l ./scripts/test.lua -vD -p android -a ${{ matrix.arch }} --ndk_sdkver=${{ matrix.ndk_sdkver }} 
          fi
