name: Android (Windows)

on:
  pull_request:
    branches:
      - dev

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest]
        arch: [armeabi-v7a, arm64-v8a]
        ndk: ["r22", "r27"]
        ndk_sdkver: ["30"]

    runs-on: ${{ matrix.os }}

    concurrency:
      group: ${{ github.ref }}-${{ github.base_ref }}-${{ github.head_ref }}-Android-Windows-${{ matrix.arch }}-${{ matrix.ndk }}-${{ matrix.ndk_sdkver }}
      cancel-in-progress: true
    steps:
      - name: Cache ndk
        id: cache-ndk
        uses: actions/cache@v4
        with:
          path: C:/Users/runneradmin/AppData/Local/.xmake/packages/n/ndk
          key: ${{ matrix.os }}-ndk

      - uses: actions/checkout@v1

      - uses: xmake-io/github-action-setup-xmake@v1
        with:
          xmake-version: branch@master
          actions-cache-folder: '.xmake-cache'
          actions-cache-key: 'android-windows'

      - name: Configure Pagefile
        uses: al-cheb/configure-pagefile-action@v1.4
        with:
          minimum-size: 8GB
          maximum-size: 32GB
          disk-root: "C:"

      - name: Tests
        env:
          ANDROID_NDK_ROOT: ""
          ANDROID_NDK_HOME: ""
        run: |
          if ("${{ matrix.ndk }}" -eq "r27") {
            xrepo env -y -b "ndk 27" xmake l ./scripts/test.lua -vD -p android -a ${{ matrix.arch }} --ndk_sdkver=${{ matrix.ndk_sdkver }} 
          } else {
            xrepo env -y -b "ndk 22" xmake l ./scripts/test.lua -vD -p android -a ${{ matrix.arch }} --ndk_sdkver=${{ matrix.ndk_sdkver }} 
          }
