name: Deploy

on:
  push:
    branches:
      - dev

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v1
      - uses: xmake-io/github-action-setup-xmake@v1
        with:
          xmake-version: latest
          actions-cache-folder: '.xmake-cache'

      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_KEY }}
          name: id_rsa # optional
          known_hosts: ${{ secrets.KNOWN_HOSTS }}

      - name: Installation
        run: |
          sudo apt update -y
          sudo apt install -y wget
          wget https://nodejs.org/dist/v14.15.4/node-v14.15.4-linux-x64.tar.xz
          tar -xvf node-v14.15.4-linux-x64.tar.xz
          export PATH=`pwd`/node-v14.15.4-linux-x64/bin:$PATH
          sudo npm install markdown-to-html -g
          git config --global user.email "waruqi@gmail.com"
          git config --global user.name "ruki"

      - name: Build artifacts
        if: ${{ github.repository }} == "xmake-io/xmake-repo"
        run: |
          xmake l scripts/build_artifacts.lua

      - name: Publish documents
        run: |
          git clone git@github.com:xmake-io/xrepo-docs.git
          cd xrepo-docs
          git remote add all git@github.com:xmake-io/xrepo-docs.git
          git remote set-url --add all git@github.com:waruqi/xrepo-docs.git
          git remote set-url --add all git@gitee.com:xmake-io/xrepo-docs.git
          git remote set-url --add all git@gitlab.com:xmake-io/xrepo-docs.git
          xmake l -vD `pwd`/build.lua
          git status
          git add -A
          git diff-index --quiet HEAD || git commit -m "autoupdate docs by xmake-repo/ci"
          git push all master

