name: FreeBSD

on:
  pull_request:
    branches:
      - dev

jobs:
  build:

    strategy:
      matrix:
        os: [ubuntu-latest]
        kind: [static, shared]

    runs-on: ${{ matrix.os }}

    concurrency:
        group: ${{ github.ref }}-${{ github.base_ref }}-${{ github.head_ref }}-FreeBSD-${{ matrix.kind }}
        cancel-in-progress: true
    steps:
      - uses: actions/checkout@v1

      - name: Tests
        uses: vmactions/freebsd-vm@v1
        with:
          usesh: true
          sync: sshfs
          mem: 4096
          copyback: false
          prepare: pkg install -y git curl unzip gmake llvm gsed bash perl5 openssl
          run: |
            git config --global --add safe.directory `pwd`
            git clone --recurse-submodules https://github.com/xmake-io/xmake.git /tmp/xmake -b dev
            cd /tmp/xmake
            ./configure
            gmake -j4
            gmake install
            export XMAKE_ROOT=y
            cd -
            xmake l ./scripts/test.lua -D -k ${{ matrix.kind }} -vD


