name: macOS (arm64)

on:
  pull_request:
    branches:
      - dev

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-14]
        arch: [arm64]
        kind: [static, shared]

    runs-on: ${{ matrix.os }}

    concurrency:
        group: ${{ github.ref }}-${{ github.base_ref }}-${{ github.head_ref }}-macOS-${{ matrix.arch }}-${{ matrix.kind }}
        cancel-in-progress: true
    steps:
      - uses: actions/checkout@v1
      - uses: xmake-io/github-action-setup-xmake@v1
        with:
          xmake-version: branch@master
          actions-cache-folder: '.xmake-cache'

      - name: Get Moltenvk
        run: |
          brew install tree
          wget -q https://github.com/KhronosGroup/MoltenVK/releases/download/v1.4.1/MoltenVK-macos.tar
          tar -xf MoltenVK-macos.tar
          ls
          tree MoltenVK
          MVK_PATH=$(find $GITHUB_WORKSPACE/MoltenVK -name "libMoltenVK.dylib" | head -n 1)
          echo "Found MoltenVK at: $MVK_PATH"
          echo "NCNN_VULKAN_DRIVER=$MVK_PATH" >> $GITHUB_ENV

      - name: Tests
        run: |
          wget https://curl.haxx.se/ca/cacert.pem -O /tmp/cacert.pem
          export CURL_CA_BUNDLE=/tmp/cacert.pem
          sudo ln -s /opt/homebrew/bin/gfortran-14 /opt/homebrew/bin/gfortran
          export LIBRARY_PATH="$LIBRARY_PATH:/opt/homebrew/lib/gcc/14/"
          export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:/opt/homebrew/lib/gcc/14/"
          xmake l ./scripts/test.lua -vD -a ${{ matrix.arch }} -k ${{ matrix.kind }}
