name: macOS (x86_64)

on:
  pull_request:
    branches:
      - dev

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-13]
        arch: [x86_64]
        kind: [static, shared]

    runs-on: ${{ matrix.os }}

    concurrency:
        group: ${{ github.ref }}-${{ github.base_ref }}-${{ github.head_ref }}-macOS-${{ matrix.arch }}-${{ matrix.kind }}
        cancel-in-progress: true
    steps:
      - uses: actions/checkout@v1
      - uses: xmake-io/github-action-setup-xmake@v1
        with:
          xmake-version: branch@master
          actions-cache-folder: '.xmake-cache'

      - name: Tests
        run: |
          wget https://curl.haxx.se/ca/cacert.pem -O /tmp/cacert.pem
          export CURL_CA_BUNDLE=/tmp/cacert.pem
          sudo ln -s /usr/local/bin/gfortran-14 /usr/local/bin/gfortran
          export LIBRARY_PATH="$LIBRARY_PATH:/usr/local/lib/gcc/14/"
          export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:/usr/local/lib/gcc/14/"
          xmake l ./scripts/test.lua -vD -a ${{ matrix.arch }} -k ${{ matrix.kind }}
