name: Monkey (Windows)

on:
  schedule: # execute every 24 hours
    - cron: "0 */24 * * *"

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest]
        kind: [static, shared]
        arch: [x64, x86, arm64]
        vs_runtime: [MT, MD]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v1
      - uses: xmake-io/github-action-setup-xmake@v1
        with:
          xmake-version: branch@master

      - name: Configure Pagefile
        uses: al-cheb/configure-pagefile-action@v1.2
        with:
          minimum-size: 8GB
          maximum-size: 32GB
          disk-root: "D:"

      - name: Tests
        run: |
          xmake l ./scripts/monkey.lua -D -a ${{ matrix.arch }} -k ${{ matrix.kind }} --vs_runtime=${{ matrix.vs_runtime }} --vs_sdkver=10.0.19041.0

